{% extends 'base.html' %}

{% block body %}
	<div id="fh5co-about">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About this project</h2>
					<p> Coming soon... </p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>Our History</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>

			<div class="row row-bottom-padded-md">
				<div class="col-md-12 text-center animate-box">
					<p><img src="/static/images/cover_bg_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-rounded"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-features">
		<div class="container">
			<div class="services-padding">
				<div class="row">
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-hotairballoon"></i>
							</span>
							<div class="feature-copy">
								<h3>Marketing</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-search"></i>
							</span>
							<div class="feature-copy">
								<h3>Search Engine</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Earn Money</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-4 animate-box">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-wine"></i>
							</span>
							<div class="feature-copy">
								<h3>Entrepreneur</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>

					</div>

					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-genius"></i>
							</span>
							<div class="feature-copy">
								<h3>Stragic Plan</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>

					</div>
					<div class="col-md-4 animate-box">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-chat"></i>
							</span>
							<div class="feature-copy">
								<h3>Support</h3>
								<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
								<p><a href="#">Learn More <i class="icon-arrow-right22"></i></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-content-section">
		<div class="container">
			<div class="row row-bottom-padded-md">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>Our Team</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="/static/images/user-1.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>


					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="/static/images/user-2.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>

					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="/static/images/user-3.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>

					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="/static/images/user-1.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>


					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="/static/images/user-2.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>

					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-team text-center animate-box">
						<figure>
							<img src="/static/images/user-3.jpg" alt="user">
						</figure>
						<p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
						<blockquote>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</blockquote>

					</div>
				</div>
			</div>
		</div>
	</div> 


{% endblock %}
