{% extends 'base.html' %}

{% block body %}


	<div id="fh5co-contact">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Contact me</h2>
					<p>If you have suggestions, contributions or any professional discussions to be made.</p>
				</div>
			</div>
		</div>
		<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-push-1 animate-box">
						<h3>My Address</h3>
						<ul class="contact-info">
							<li><i class="icon-location"></i> Samsung Research Institute, <br> Opp. Arena Mall, <br> Doddanekundi, Bangalore 560037</li>
							<li><i class="icon-mail22"></i><a href="mailto:nagarjunsa09@gmail.com">nagarjunsa09@gmail.com</a></li>
						</ul>
					</div>
					<div class="col-md-7 col-md-push-1 animate-box">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Send Message" class="btn btn-primary">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endblock %}
