{% extends 'base.html' %}

{% block body %}
	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>NLP Demos</h2>
					<p> Choose a subdomain of the tasks you want a demo of .. </p>
				</div>
			</div>
		</div>

		<div id="fh5co-features">
			<div class="container">
				<div class="services-padding">
					<div class="row">
						<div class="col-md-4 animate-box">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-scissors"></i>
								</span>
								<div class="feature-copy">
									<h3>Text Preprocessing</h3>
									<p>Although not a subdomain as-per; I felt it is a good beginning point to frame thoughts in approaching NLP Problem Solving.<br>Baby steps.</p>
									<p><a href="{{ url_for('preprocessing') }}"> Play now <i class="icon-arrow-right22"></i></a></p>
								</div>
							</div>
						</div>

						<div class="col-md-4 animate-box">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-document"></i>
								</span>
								<div class="feature-copy">
									<h3>Text Classification</h3>
									<p> Representation is count-based. No word order. Predicts tags, categories, sentiment. Traditional ML methods employed. <br> NLP Rookie. </p>
									<p><a href="#"> Play now <i class="icon-arrow-right22"></i></a></p>
								</div>
							</div>

						</div>
						<div class="col-md-4 animate-box">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-documents"></i>
								</span>
								<div class="feature-copy">
									<h3>Word Sequence Tasks</h3>
									<p>Representation is sequences. Word Order preserved. Predicts next word, language modeling, text generation. Demos NER, POS tagging. <br> NLP Semi-Pro. </p>
									<p><a href="#">Play now <i class="icon-arrow-right22"></i></a></p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-4 animate-box">

							<div class="feature-left">
								<span class="icon">
									<i class="icon-book-open"></i>
								</span>
								<div class="feature-copy">
									<h3>Text Meaning Tasks</h3>
									<p>Representation is embeddings. Goal is to represent meaning; semantics. Demos topic modelling, search enhancement, question answering. <br> NLP Pro. </p>
									<p><a href="#">Play now <i class="icon-arrow-right22"></i></a></p>
								</div>
							</div>

						</div>

						<div class="col-md-4 animate-box">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-quote"></i>
								</span>
								<div class="feature-copy">
									<h3>Sequence to Sequence</h3>
									<p>Representation by encoders and decoders, which find and use hidden representation of text. Translation, Summarization, Q&A systems. <br> NLP Master.</p>
									<p><a href="#">Play now <i class="icon-arrow-right22"></i></a></p>
								</div>
							</div>

						</div>
						<div class="col-md-4 animate-box">
							<div class="feature-left">
								<span class="icon">
									<i class="icon-chat"></i>
								</span>
								<div class="feature-copy">
									<h3>Dialog Systems</h3>
									<p>Conversational as well as goal oriented dialog systems. Chatbots for specific domains. <br> NLP Guru. <br><br> </p>
									<p><a href="#">Play now <i class="icon-arrow-right22"></i></a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!--<div class="row">
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-1.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-2.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-3.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-5.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-4.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-6.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
			</div>-->
		</div>
	</div>

{% endblock %}
