{% extends 'base.html' %}

{% block body %}

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Portfolio</h2>
					<p>Coming soon...</p>
				</div>
			</div>
			<!--<div class="row">
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-1.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-2.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-3.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-5.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-4.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="#">
							<div class="portfolio-entry" style="background-image: url(/static/images/portfolio-6.jpg);"></div>
							<div class="portfolio-text">
								<h3>Photoshoot On The Street</h3>
								<ul class="stuff">
									<li><i class="icon-heart2"></i>200</li>
									<li><i class="icon-eye2"></i>248</li>
									<li><i class="icon-download3"></i>240</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
			</div>-->
		</div>
	</div>

{% endblock %}
